.slide-animation.ng-hide-add,
.slide-animation.ng-hide-remove {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;

  /* remember to add this */
  display:block!important;
  opacity:1;
}
.slide-animation.ng-hide {
  opacity:0;
}
